# Open WebUI settings (https://docs.openwebui.com/getting-started/advanced-topics/env-configuration)
WEBUI_AUTH=True # You must set a WEBUI_SECRET_KEY to activate auth in Open WebUI
WEBUI_SECRET_KEY="set_webui_secret_key" # `openssl rand -hex 32`
WEBUI_BYPASS_MODEL_ACL=False # Bypass access control (if you're not using roles - use this only in a trusted environment
WEBUI_SESSION_COOKIE_SECURE=True
DEFAULT_LOCALE="en"
## RAG - Reality Augmented Generation
ENABLE_RAG_WEB_SEARCH=True
RAG_WEB_SEARCH_RESULT_COUNT=5
PDF_EXTRACT_IMAGES=True

# SearXNG settings
## Generate a new secret key for production
SEARXNG_SECRET="set_searxng_secret_key" # `openssl rand -hex 32`
SEARXNG_LIMITER=False
SEARXNG_PUBLIC_INSTANCE=False
